@font-face {
  font-family: 'AcuminPro';
  src: url('../fonts/AcuminPro-Italic.eot');
  src: url('../fonts/AcuminPro-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AcuminPro-Italic.svg#AcuminPro-Italic') format('svg'),
       url('../fonts/AcuminPro-Italic.ttf') format('truetype'),
       url('../fonts/AcuminPro-Italic.woff') format('woff'),
       url('../fonts/AcuminPro-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

